.grid-container{
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main right right right'
      'footer footer footer footer footer footer';
    gap: 10px;
    padding: 30px;
}

.caja1{
    grid-area: header;
    text-align: center; 
    border-radius: 92px 93px 0px 0px;
    -webkit-border-radius: 92px 93px 0px 0px;
    -moz-border-radius: 92px 93px 0px 0px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    box-shadow: 4px -39px 54px 4px rgba(175,70,240,0.67);
    -webkit-box-shadow: 4px -39px 54px 4px rgba(175,70,240,0.67);
    -moz-box-shadow: 4px -39px 54px 4px rgba(175,70,240,0.67);
}
.caja2{
    grid-area: main;
    width: 500px;
    height: 600px;
    padding: 30px; 
    border-radius: 0px 95px 0px 93px;
    -webkit-border-radius: 0px 95px 0px 93px;
    -moz-border-radius: 0px 95px 0px 93px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: -36px 26px 54px 4px rgba(175,70,240,0.67);
    -webkit-box-shadow: -36px 26px 54px 4px rgba(175,70,240,0.67);
    -moz-box-shadow: -36px 26px 54px 4px rgba(175,70,240,0.67);
}
.caja3{
    grid-area: right; 
    background-color: bisque;
    width: 500px;
    height: 600px;
    padding: 30px;
    border-radius: 93px 0px 96px 0px;
    -webkit-border-radius: 93px 0px 96px 0px;
    -moz-border-radius: 93px 0px 96px 0px;
    box-shadow: 29px 26px 54px 4px rgba(175,70,240,0.67);
    -webkit-box-shadow: 29px 26px 54px 4px rgba(175,70,240,0.67);
    -moz-box-shadow: 29px 26px 54px 4px rgba(175,70,240,0.67);
}

.caja4{
    grid-area: footer;
    text-align: center;
    padding: 30px;
    border-radius: 0px 0px 95px 96px;
    -webkit-border-radius: 0px 0px 95px 96px;
    -moz-border-radius: 0px 0px 95px 96px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    box-shadow: 4px 58px 54px 4px rgba(175,70,240,0.67);
    -webkit-box-shadow: 4px 58px 54px 4px rgba(175,70,240,0.67);
    -moz-box-shadow: 4px 58px 54px 4px rgba(175,70,240,0.67);
}

p{
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

h3{
    color: violet;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

h1{
    color: violet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    text-shadow: -6px 1px 11px rgba(20,161,164,0.6);
    
}

ul{
    text-align: left;
}

img{
    padding: 15%;
}